@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 40% 98%;
    --foreground: 220 10% 10%;
    --card: 220 13% 100%;
    --card-foreground: 220 10% 10%;
    --popover: 220 13% 100%;
    --popover-foreground: 220 10% 20%;
    --primary: 221 83% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 14% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 9% 88%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 217 91% 65%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 89%;
    --ring: 221 83% 53%;
    --radius: 0.8rem;

    --chart-1: 221 83% 53%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 44%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 82% 65%;
  }
  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 217.2 32.6% 17.5%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 91.2% 59.8%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 25.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 91.2% 59.8%;

    --chart-1: 217 91% 60%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 44%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 82% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
