@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 10% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 220 10% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 220 10% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 216.3 76.2% 36.3%; /* Sapphire Blue */
    --primary-foreground: 210 20% 98%;
    --secondary: 220 10% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 10% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 220 10% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 10% 91.4%;
    --input: 220 10% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 216.3 76.2% 36.3%;
    --chart-2: 197 58% 39%;
    --chart-3: 173 37% 44%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 82% 65%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%; /* Brighter Blue for Dark Mode */
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 25.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 91.2% 59.8%;
    --chart-1: 217.2 91.2% 59.8%;
    --chart-2: 197 58% 39%;
    --chart-3: 173 37% 44%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 82% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
